<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <script src="https://kit.fontawesome.com/320d6fe4a2.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,500&display=swap');
    </style>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/cat_style.css">

    <style>
        a:link, a:visited {
          background-color: #ffab91;
          color: white;
          padding: 15px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }

        a:hover, a:active {
          background-color: #ff8a65;
        }

    </style>

    <title>Dashboard</title>
</head>
<body>
    <!-- HEADER -->
    <header>

        <div class="overlay">
            <button class="button button2" style="float: right;"><span>Logout</span></button>
            <h1>Welcome to DigiPetsGo!</h1>
            <h2>A fantastic world of virtual buddies</h2>
            <br>
        </div>
    </header>

    <div class="cat-background">
        <div class="cat-container-running">
            <div class="sprite-cat-vertical">
                <div class="heart-icon"></div>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h3 style="text-align: center;"><a href="<%= devnet_link %>">Click here to check Multiversx transaction!</a><h3>
            </div>
        </div>
    </div>
</body>
</html>
